// Footer
footer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   font-size: 1.5rem;
   padding-bottom: 2rem;

   div {
      width: 8rem;
      text-align: center;
   }

   a {
      color: $gray;
      text-decoration: none;
      transition: all 0.2s ease-out 0s;
   }

   a:hover, 
   a:focus {
      color: $green;
      font-size: 1.7rem;
   }
}

.contactFooter {
   justify-content: flex-start;
   padding: 2rem 0;
}

// Media Queries
@media (max-width: 520px) {
   footer {
      font-size: 1.1rem;

      div {
         width: 6.5rem;
      }

      a:hover,
      a:focus {
         font-size: 1.3rem;
      }
   }
}