// Header for index.html
.indexHeader {
   height: 100vh;

   .helloDiv {
      display: inline;

      h1 {
         font-size: 1.8rem;
         text-align: center;
         padding: 8rem 12.5rem 1rem 12.5rem;
      }

      .shapes {
         display: flex;
         justify-content: space-evenly;
         width: 30%;
         height: 3rem;
         position: relative;
         margin: 0 auto;

         .square {
            width: 1.5rem;
            height: 1.5rem;
            background: $green;
            animation: square 1.5s ease-in forwards;
         }

         .triangle {
            height: 0.5rem;
            border-bottom: 1.5rem solid $yellow;
            border-left: 0.8rem solid $dark;
            border-right: 0.8rem solid $dark;
            animation: triangle 1.5s ease-in forwards;
         }

         .line {
            width: 2rem;
            height: 0.3rem;
            background: $green;
            border-radius: 15%;
            margin-top: 0.5rem;
            animation: line 1.5s ease-in forwards;
         }

         .circle {
            background: $yellow;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            animation: circle 1.5s ease-in forwards;
         }
      }
   }

   .seeWork {
      width: 20%;
      margin-left: 37.5rem;
      margin-top: 3.5rem;

      a {
         text-decoration: none;
         color: $yellow;
      }

      a:hover, 
      a:focus {
         color: $green;
         padding: 0.5rem;
         border: 2px solid $yellow;
      }
   }

   h2 {
      letter-spacing: 0.5rem;
      margin-bottom: 2rem;
   }  
}

   .verticalIndex {
      writing-mode: vertical-rl;
      color: #fdee69;
   }

   .verticalLine {
      width: 0.15rem;
      height: 2rem;
      background: #fdee69;
      margin-bottom: 0.5rem;
      margin-left: 2rem;
   }

   .dot {
      width: 0.4rem;
      height: 0.4rem;
      background: #fdee69;
      border-radius: 50%;
      margin-bottom: 1rem;
      margin-left: 2rem;
   }

   .lighter {
      background: #fff6a2;
   }

   .lightest {
      background: #fcf6c7;
   }

// Media queries
@media (max-width: 1200px) {
   .indexHeader .helloDiv .shapes {
      width: 35%;
   }

   .indexHeader .seeWork {
      margin-left: 29.5rem;
   }
}

@media (max-width: 1165px) {
   .indexHeader .helloDiv .shapes {
      .square,
      .triangle,
      .line,
      .circle {
         animation: none;
      }
   }
}

@media (max-width: 1000px) {
   .indexHeader {
      .seeWork {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         width: 50%;
         margin: 3rem auto;
      }

      .helloDiv h1 {
         padding: 8rem 10rem 1rem 10rem;
      }
   }
}

@media (max-width: 865px) {
   .indexHeader .helloDiv h1 {
      padding: 8rem 5rem 0 5rem;
   }
}

@media (max-width: 640px) {
   .indexHeader .helloDiv {
      h1 {
         padding: 7rem 3rem 0 3rem;
      }

      .shapes {
         width: 50%;
      }
   }
   .indexHeader {
      .seeWork {
         width: 100%;
         margin: 5rem auto;
      }

      .omit {
         display: none;
      }
   }
}

@media (max-width: 450px) {
   .indexHeader .helloDiv {
      h1 {
         padding: 7rem 1rem 0 1rem;
      }
      
      .shapes {
         width: 70%;
      }
   }
}

