.contactHeader {
   background: url(../assets/bgsample.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position-x: -100px;
   height: 100vh;

   .contactDiv {
      width: 40%;
      margin-left: 40rem;
      margin-top: 25rem;
   }
}