// Header for about.html
.aboutHeader {
   height: 100vh;

   .bio {
      display: flex;
      flex-wrap: wrap;
      margin: 2rem;

      .bioImg {
         width: 55%;

         img {
            width: 100%;
         }
      }

      .bioAboutMe {
         width: 35%;

         p {
            color: $gray;
            line-height: 25px;
            margin: 0;
         }
      }
   }

   // .icons {
   //    display: flex;
      
   //    ul {
   //       display: flex;
   //       margin: 0 auto;

   //       li {
   //          font-size: 1.5rem;
   //          padding-right: 2rem;
   //       }
   //    }
   // }

   .verticalAbout {
      writing-mode: vertical-rl;
      color: #fdee69;
      letter-spacing: 0.5rem;
      margin: 1.4rem;
   }
}

// Main section for about.html
.mainAbout {
   padding-top: 5rem;

   section {
      height: 30rem;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
   }

   .firstProject {
      margin-bottom: 0;
   }

   .hDiv {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 2rem;
      padding-top: 4rem;
      padding-left: 5rem;

      h3 {
         font-size: 3rem;
         margin: 0;
      }

      .paraContainer {
         height: 3rem;
         padding-top: 0.5rem;
         padding-left: 0.5rem;

         .projectTitle,
         .programs {
            margin: 0;
         }

         .programs {
            color: $gray;
         }
      }
   }

   .summary {
      width: 75%;
      margin: 0 auto;
   }

   .paraDiv {
      color: $gray;
      width: 45%;
      height: 15rem;
      padding-top: 2rem;
      padding-left: 6.5rem;

      p {
         line-height: 25px;
      }

      a {
         display: flex;
         text-decoration: none;
         margin-top: 2rem;

         i {
            color: $green;
         }

         p {
            text-decoration: none;
            color: $yellow;
            margin: 0;
            padding-left: 1rem;
         }
      }
   }

   .imgDiv {
      width: 45%;
      position: relative;
      left: 1rem;
      bottom: 3rem;
      padding-left: 2rem;

      img {
         width: 100%;
      }
   }
}

footer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   font-size: 1.5rem;
   padding-top: 2rem;

   p {
      letter-spacing: 3px;
   }

   a {
      color: $yellow;
      text-decoration: none;
   }
}

// Media queries
@media (max-width: 1300px) {
   .aboutHeader .bio {
      margin: 2rem 0;
   }

   .mainAbout .paraDiv {
      padding-top: 0;
      width: 50%;
   }
}

@media (max-width: 1100px) {
   .opacity {
      opacity: 0;
   }

   .aboutHeader .verticalAbout {
      letter-spacing: 2px;
      margin: 0%;
   }

   .mainAbout .imgDiv {
      padding-left: 0;
   }

   .wrapper {
      width: 95%;
   }
}

@media (max-width: 1040px) {
   .aboutHeader .bio {
      flex-direction: column;
   }

   .aboutHeader .bio .bioImg {
      width: 60%;
      margin: 0 auto;
   }

   .aboutHeader .bio .bioAboutMe {
      width: 50%;
      margin: 0 auto;
   }

   .verticalAbout {
      opacity: 0;
   }

   .mainAbout {
      padding-bottom: 4rem;
   }

   .mainAbout .paraDiv {
      width: 80%;
      padding-top: 4rem;
      padding-left: 7rem;
      margin-bottom: 1rem;
   }

   .mainAbout .imgDiv {
      width: 50%;
      margin: 0 auto;
   }

   .mainAbout .firstProject {
      margin-bottom: 5rem;
   }

   .mainAbout .firstProject .imgDiv {
      margin: 3rem auto;
   }

   .mainAbout .projects {
      margin-bottom: 7rem;
   }

   .mainAbout .projects .imgDiv {
      margin: 5rem auto;
   }
}

@media (max-width: 840px) {
   .aboutHeader .bio .bioImg {
      width: 65%;
   }

   .aboutHeader .bio .bioAboutMe {
      width: 70%;
   }

   .mainAbout {
      padding-top: 3rem;
   }

   .mainAbout .paraDiv {
      width: 90%;
   }

   .mainAbout .imgDiv {
      width: 60%;
      bottom: 1rem;
   }

   .mainAbout .projects .imgDiv {
      margin: 7rem auto;
   }

   .mainAbout .firstProject .imgDiv {
      margin: 2rem auto;
   }
}

@media (max-width: 750px) {
   .mainAbout .paraDiv {
      width: 100%;
      padding-left: 5rem;
   }

   .mainAbout .firstProject .imgDiv {
      margin: 0rem auto;
   }

   .mainAbout .projects .imgDiv {
      margin: 4rem auto;
   }

   footer {
      font-size: 1rem;
   }
}

@media (max-width: 636px) {
   .aboutHeader .bio .bioImg {
      width: 80%;
   }

   .aboutHeader .bio .bioAboutMe {
      width: 90%;
   }

   .mainAbout .firstProject .imgDiv {
      margin: 3rem auto;
   }

   .mainAbout .projects .imgDiv {
      margin: 6rem auto;
   }

   footer {
      text-align: center;
      flex-direction: column;
   }
}

@media (max-width: 565px) {
    .aboutHeader .bio .bioImg {
      width: 100%;
   }

   .aboutHeader .bio .bioAboutMe {
      width: 95%;
   }

   .mainAbout section {
      position: relative;
      left: -2rem;
   }

   .mainAbout .hDiv h3 {
      opacity: 0;
      font-size: 1px;
   }

   .mainAbout .hDiv .paraContainer {
      padding-left: 0rem;
      position: relative;
      left: -2rem;
   }

   .mainAbout .paraDiv {
      padding-left: 3rem;
   }

   .mainAbout .imgDiv {
      width: 60%;    
   }

   .mainAbout .firstProject .imgDiv {
      margin: 5rem auto;
   }

   .mainAbout .projects .imgDiv {
      margin: 10rem auto;
   }
}

@media (max-width: 435px) {
   .aboutHeader {
      height: 100%;
   }

   .mainAbout .projects .imgDiv {
      margin: 12rem auto;
   }

   .mainAbout {
      padding-top: 0;
   }
}
