// Header for about.html
.aboutHeader {
   height: 100vh;

   .bio {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 3rem auto;

      .bioImg {
         display: flex;
         align-items: center;
         width: 35%;

         img {
            width: 100%;
         }
      }

      .bioAboutMe {
         width: 45%;

         p {
            color: $gray;
            line-height: 1.3rem;
            margin: 0 0 0.6rem 0;
         }
      }
   }

   .arrow {
      display: flex;
      justify-content: center;
      padding: 3rem 0 4rem 0;

      a {
         font-size: 2.5em;
         color: $yellow;
         animation: bounce 1s ease-in infinite;
      }
   }
}

// Main section for about.html
.mainAbout {
   padding-top: 1rem;

   h2 {
      font-size: 2.5rem;
      letter-spacing: 0.5rem;
      text-align: center;
   }

   section {
      display: flex;
      flex-wrap: wrap;
   }

   .space {
      padding-top: 2rem;
   }

   .projects {
      justify-content: space-between;
      margin-bottom: 4rem;
      margin-left: 2rem;
   }

   .icons {
      margin: 3rem 0 7rem 0;
      
      ul {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         margin: 0 auto;
         padding: 0;

         li {
            width: 7rem;
            text-align: center;
            padding: 1rem 0;

            i {
               font-size: 2rem;
            }
         
            p {
               font-size: 1rem;
               color: $gray;
            }
         }
      }
   }

   .wholeText {
      width: 45%;

      h3 {
         margin: 0;
      }

      p {
         color: $gray;
      }

      .paraContainer p {
         margin: 0;
      }

      .one::before {
         @include before("1");
      }

      .two::before {
         @include before("2");
      }

      .three::before {
         @include before("3");
      }

      .four::before {
         @include before("4");
      }

      .five::before {
         @include before("5");
      }

      .paraDiv {
         p {
            line-height: 1.3rem;
         }

         .externalLink {
            margin-top: 2rem;

            a {
               text-decoration: none;
               color: $yellow;
               font-size: 2rem;
               margin-right: 3rem;
            }

            a:hover,
            a:focus {
               color: $green;
               font-size: 2.5rem;
            }
         }
      }
      
   }

   .imgDiv {
      display: flex;
      align-items: center;
      width: 45%;

      img {
         width: 100%;
      }
   }
}

footer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   font-size: 1.5rem;
   padding-top: 2rem;

   p {
      letter-spacing: 3px;
   }

   a {
      color: $yellow;
      text-decoration: none;
   }

   a:hover, 
   a:focus {
      color: $green;
      font-size: 2rem;
      position: relative;
      bottom: 1rem;
   }
}

// Media queries
@media (max-width: 900px) {
   .aboutHeader {
      height: 100%;

      .bio {
         flex-direction: column;
         align-items: center;

         .bioImg {
            width: 60%;
         }

         .bioAboutMe {
            width: 80%;
         }
      }
   }

   .mainAbout {
      .projects {
         flex-direction: column;
         justify-content: center;
         margin-bottom: 0;
      }

      .space {
         padding-top: 0;
      }

      .wholeText {
         width: 100%;
      }

      .imgDiv {
         width: 85%;
         margin: 0 auto;
      }
   }

   footer {
      flex-direction: column;
      text-align: center;

      p {
         margin: 0;
      }

      a {
         margin: 1rem;
      }
   }
}

@media (max-width: 676px) {
   .mainAbout .icons ul li {
      width: 5rem;
   }
}

@media (max-width: 600px) {
   .aboutHeader {
      .bio {
         .bioImg,
         .bioAboutMe {
            width: 100%;
         }
      }
   }

   .mainAbout .imgDiv {
      width: 100%;
   }
}

@media (max-width: 520px) {
   footer {
      font-size: 1.3rem;
   }
}


