// General nav
nav {
   display: flex;
   justify-content: space-between;

   img {
      max-width: 1.5rem;
      margin-top: 2rem;
   }

   ul {
      display: flex;
      margin: 2rem 0 0 0;

      a {
         color: $yellow;
         margin-left: 2.5rem;
      }
   }
}
