// VARIABLES
// Font
$font: 'Share Tech', sans-serif;

// Colours
$dark: #181818;
$yellow: #ffe400;
$orange: #ff652f;
$green: #14a76c;
$gray: #949494;


// MIXINS
@mixin before($number) {
   content: $number;
   color: #ffe400;
   display: block;
   position: relative;
   left: -2rem;
   top: 3.4rem;
   font-size: 3.5rem;
   font-weight: bold;
}


// IMPORTS
@import "./partials/setup";
@import "./partials/nav";
@import "./partials/header";
@import "./partials/mainAbout";
@import "./partials/animations";



// GENERAl STYLES
html {
   font-size: 125%;
}

body {
   color: $yellow;
   background: $dark;
   font-family: $font;
}

.wrapper {
   max-width: 1200px;
   width: 85%;
   margin: 0 auto;
}

li {
   list-style: none;

   a {
      text-decoration: none;
   }
}
