html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav img {
  max-width: 1.5rem;
  margin-top: 2rem;
}
nav img:hover,
nav img:focus {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
nav .mediaQuery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 0 0;
}
nav .mediaQuery a {
  width: 4rem;
  display: inline-block;
  color: #ffe400;
  margin-left: 2.5rem;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
nav .mediaQuery a:hover,
nav .mediaQuery a:focus {
  color: #14a76c;
  font-size: 1.3rem;
}

.menu {
  display: none;
}
.menu a {
  color: #181818;
  padding: 1rem;
}
.menu a:hover,
.menu a:focus {
  color: #14a76c;
  font-size: 1.2rem;
}

#menuToggle {
  display: none;
}

#menuToggle:checked + .menuContainer .burger::before {
  margin-top: 0;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menuToggle:checked + .menuContainer .burger {
  background: rgba(255, 255, 255, 0);
}

#menuToggle:checked + .menuContainer .burger::after {
  margin-top: 0;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

.menuContainer {
  display: none;
  color: #ffe400;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 1rem 0 0;
}

.burger::before {
  content: "";
  margin-top: -8px;
}

.burger::after {
  content: "";
  margin-top: 8px;
}

@media (max-width: 700px) {
  nav .mediaQuery {
    display: none;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 5rem;
    padding: 0;
  }
  .menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #181818;
    background-color: #ffe400;
    margin: 0 1rem;
  }

  .menuContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #menuToggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menuToggle:checked ~ .menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #333;
    height: 5rem;
    -webkit-transition: height 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .burger,
.burger::before,
.burger::after {
    background-color: #ffe400;
    position: absolute;
    height: 4px;
    width: 35px;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .burger:hover,
.burger:focus {
    background-color: #14a76c;
  }
}
.indexHeader {
  height: 100vh;
}
.indexHeader .helloDiv {
  display: inline;
}
.indexHeader .helloDiv h1 {
  font-size: 1.8rem;
  text-align: center;
  padding: 8rem 12.5rem 1rem 12.5rem;
}
.indexHeader .helloDiv .shapes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 30%;
  height: 3rem;
  position: relative;
  margin: 0 auto;
}
.indexHeader .helloDiv .shapes .square {
  width: 1.5rem;
  height: 1.5rem;
  background: #14a76c;
  -webkit-animation: square 1.5s ease-in forwards;
          animation: square 1.5s ease-in forwards;
}
.indexHeader .helloDiv .shapes .triangle {
  height: 0.5rem;
  border-bottom: 1.5rem solid #ffe400;
  border-left: 0.8rem solid #181818;
  border-right: 0.8rem solid #181818;
  -webkit-animation: triangle 1.5s ease-in forwards;
          animation: triangle 1.5s ease-in forwards;
}
.indexHeader .helloDiv .shapes .line {
  width: 2rem;
  height: 0.3rem;
  background: #14a76c;
  border-radius: 15%;
  margin-top: 0.5rem;
  -webkit-animation: line 1.5s ease-in forwards;
          animation: line 1.5s ease-in forwards;
}
.indexHeader .helloDiv .shapes .circle {
  background: #ffe400;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-animation: circle 1.5s ease-in forwards;
          animation: circle 1.5s ease-in forwards;
}
.indexHeader .seeWork {
  width: 20%;
  margin-left: 37.5rem;
  margin-top: 3.5rem;
}
.indexHeader .seeWork a {
  text-decoration: none;
  color: #ffe400;
}
.indexHeader .seeWork a:hover,
.indexHeader .seeWork a:focus {
  color: #14a76c;
  padding: 0.5rem;
  border: 2px solid #ffe400;
}
.indexHeader h2 {
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}

.verticalIndex {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #fdee69;
}

.verticalLine {
  width: 0.15rem;
  height: 2rem;
  background: #fdee69;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.dot {
  width: 0.4rem;
  height: 0.4rem;
  background: #fdee69;
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.lighter {
  background: #fff6a2;
}

.lightest {
  background: #fcf6c7;
}

@media (max-width: 1200px) {
  .indexHeader .helloDiv .shapes {
    width: 35%;
  }

  .indexHeader .seeWork {
    margin-left: 29.5rem;
  }
}
@media (max-width: 1165px) {
  .indexHeader .helloDiv .shapes .square,
.indexHeader .helloDiv .shapes .triangle,
.indexHeader .helloDiv .shapes .line,
.indexHeader .helloDiv .shapes .circle {
    -webkit-animation: none;
            animation: none;
  }
}
@media (max-width: 1000px) {
  .indexHeader .seeWork {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin: 3rem auto;
  }
  .indexHeader .helloDiv h1 {
    padding: 8rem 10rem 1rem 10rem;
  }
}
@media (max-width: 865px) {
  .indexHeader .helloDiv h1 {
    padding: 8rem 5rem 0 5rem;
  }
}
@media (max-width: 640px) {
  .indexHeader .helloDiv h1 {
    padding: 10rem 3rem 0 3rem;
  }
  .indexHeader .helloDiv .shapes {
    width: 50%;
  }

  .indexHeader .seeWork {
    width: 100%;
    margin: 5rem auto;
  }
  .indexHeader .omit {
    display: none;
  }
}
@media (max-width: 450px) {
  .indexHeader .helloDiv h1 {
    padding: 7rem 1rem 0 1rem;
  }
  .indexHeader .helloDiv .shapes {
    width: 70%;
  }
}
.aboutHeader .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 3rem auto;
}
.aboutHeader .bio .bioImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
}
.aboutHeader .bio .bioImg img {
  width: 100%;
}
.aboutHeader .bio .bioAboutMe {
  width: 45%;
}
.aboutHeader .bio .bioAboutMe p {
  color: #949494;
  line-height: 1.3rem;
  margin: 0 0 0.6rem 0;
}
.aboutHeader .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0 2rem 0;
}
.aboutHeader .arrow i {
  font-size: 2.5em;
  color: #ffe400;
  -webkit-animation: bounce 1s ease-in infinite;
          animation: bounce 1s ease-in infinite;
  text-shadow: 0px 5px 7px gray;
}

.mainAbout {
  padding: 3rem 0 7rem 0;
}
.mainAbout h1,
.mainAbout .skills {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  text-align: center;
}
.mainAbout section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mainAbout .icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.mainAbout .icons ul li {
  width: 7rem;
  text-align: center;
  padding: 1rem 0;
}
.mainAbout .icons ul li i {
  font-size: 2rem;
}
.mainAbout .icons ul li p {
  font-size: 1rem;
  color: #949494;
}

@media (max-width: 900px) {
  .aboutHeader {
    height: 100%;
  }
  .aboutHeader .bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutHeader .bio .bioImg {
    width: 60%;
  }
  .aboutHeader .bio .bioAboutMe {
    width: 80%;
  }
}
@media (max-width: 676px) {
  .mainAbout .icons ul li {
    width: 5rem;
  }
}
@media (max-width: 600px) {
  .aboutHeader .bio .bioImg,
.aboutHeader .bio .bioAboutMe {
    width: 100%;
  }
}
.mainAbout .projects {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
  margin-left: 1.5rem;
}
.mainAbout .wholeText {
  width: 45%;
}
.mainAbout .wholeText h2 {
  margin: 0;
}
.mainAbout .wholeText p {
  color: #949494;
}
.mainAbout .wholeText .paraContainer p {
  margin: 0;
}
.mainAbout .wholeText .one::before {
  content: "1";
  color: #ffe400;
  display: block;
  position: relative;
  left: -2rem;
  top: 3.4rem;
  font-size: 3.5rem;
  font-weight: bold;
}
.mainAbout .wholeText .two::before {
  content: "2";
  color: #ffe400;
  display: block;
  position: relative;
  left: -2rem;
  top: 3.4rem;
  font-size: 3.5rem;
  font-weight: bold;
}
.mainAbout .wholeText .three::before {
  content: "3";
  color: #ffe400;
  display: block;
  position: relative;
  left: -2rem;
  top: 3.4rem;
  font-size: 3.5rem;
  font-weight: bold;
}
.mainAbout .wholeText .four::before {
  content: "4";
  color: #ffe400;
  display: block;
  position: relative;
  left: -2rem;
  top: 3.4rem;
  font-size: 3.5rem;
  font-weight: bold;
}
.mainAbout .wholeText .five::before {
  content: "5";
  color: #ffe400;
  display: block;
  position: relative;
  left: -2rem;
  top: 3.4rem;
  font-size: 3.5rem;
  font-weight: bold;
}
.mainAbout .wholeText .paraDiv p {
  line-height: 1.3rem;
}
.mainAbout .wholeText .paraDiv .externalLink {
  margin-top: 2rem;
}
.mainAbout .wholeText .paraDiv .externalLink a {
  text-decoration: none;
  color: #ffe400;
  font-size: 2rem;
  margin-right: 3rem;
}
.mainAbout .wholeText .paraDiv .externalLink a:hover,
.mainAbout .wholeText .paraDiv .externalLink a:focus {
  color: #14a76c;
}
.mainAbout .imgDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}
.mainAbout .imgDiv img {
  width: 100%;
}

@media (max-width: 900px) {
  .mainAbout .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
  .mainAbout .wholeText {
    width: 100%;
  }
  .mainAbout .imgDiv {
    width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .mainAbout .imgDiv {
    width: 100%;
  }
}
.contact {
  padding: 3rem 0;
}
.contact p {
  color: #949494;
}
.contact .contactGreet {
  text-align: center;
  margin-bottom: 5rem;
}
.contact .contactGreet h1 {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  margin-bottom: 0;
}
.contact .contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .contactSection .emailLinkDiv {
  width: 49%;
}
.contact .contactSection .emailLinkDiv div {
  margin-bottom: 5rem;
}
.contact .contactSection .emailLinkDiv p {
  letter-spacing: 0.3rem;
  width: 8rem;
  margin-left: 2rem;
  margin-top: 3rem;
}
.contact .contactSection .emailLinkDiv a {
  text-decoration: none;
}
.contact .contactSection .emailLinkDiv a p:hover,
.contact .contactSection .emailLinkDiv a p:focus {
  color: #14a76c;
  font-size: 1.3rem;
}
.contact .contactSection .formDiv {
  width: 49%;
}
.contact .contactSection .formDiv form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact .contactSection .formDiv form input,
.contact .contactSection .formDiv form textarea {
  width: 100%;
  margin-bottom: 0.1rem;
  padding: 0.5rem;
  border: 1px solid #ffe400;
  border-radius: 5px;
  background: #949494;
}
.contact .contactSection .formDiv form input::-webkit-input-placeholder, .contact .contactSection .formDiv form textarea::-webkit-input-placeholder {
  font-family: "Share Tech", sans-serif;
}
.contact .contactSection .formDiv form input::-moz-placeholder, .contact .contactSection .formDiv form textarea::-moz-placeholder {
  font-family: "Share Tech", sans-serif;
}
.contact .contactSection .formDiv form input:-ms-input-placeholder, .contact .contactSection .formDiv form textarea:-ms-input-placeholder {
  font-family: "Share Tech", sans-serif;
}
.contact .contactSection .formDiv form input::-ms-input-placeholder, .contact .contactSection .formDiv form textarea::-ms-input-placeholder {
  font-family: "Share Tech", sans-serif;
}
.contact .contactSection .formDiv form input::placeholder,
.contact .contactSection .formDiv form textarea::placeholder {
  font-family: "Share Tech", sans-serif;
}
.contact .contactSection .formDiv form textarea {
  resize: none;
  height: 10rem;
}
.contact .contactSection .formDiv form button {
  font-family: "Share Tech", sans-serif;
  cursor: pointer;
  width: 100%;
  background: #ffe400;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
}
.contact h3 {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  margin: 7rem 0 2rem 0;
  text-align: center;
}

@media (max-width: 950px) {
  .contact .contactSection .emailLinkDiv,
.contact .contactSection .formDiv {
    width: 100%;
  }
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
footer div {
  width: 8rem;
}
footer a {
  color: #949494;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
footer a:hover,
footer a:focus {
  color: #14a76c;
  font-size: 1.8rem;
}

.contactFooter {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem 0;
}

@media (max-width: 520px) {
  footer {
    font-size: 1.3rem;
  }
}
@-webkit-keyframes square {
  0% {
    position: relative;
  }
  10% {
    bottom: -5px;
    left: 12px;
  }
  20% {
    bottom: -10px;
    left: 24px;
  }
  30% {
    bottom: -15px;
    left: 36px;
  }
  40% {
    bottom: -20px;
    left: 48px;
  }
  50% {
    bottom: -25px;
    left: 60px;
  }
  60% {
    bottom: -30px;
    left: 72px;
  }
  70% {
    bottom: -35px;
    left: 84px;
  }
  80% {
    bottom: -40px;
    left: 96px;
  }
  90% {
    bottom: -45px;
    left: 108px;
  }
  100% {
    position: relative;
    bottom: -50px;
    left: 120px;
  }
}
@keyframes square {
  0% {
    position: relative;
  }
  10% {
    bottom: -5px;
    left: 12px;
  }
  20% {
    bottom: -10px;
    left: 24px;
  }
  30% {
    bottom: -15px;
    left: 36px;
  }
  40% {
    bottom: -20px;
    left: 48px;
  }
  50% {
    bottom: -25px;
    left: 60px;
  }
  60% {
    bottom: -30px;
    left: 72px;
  }
  70% {
    bottom: -35px;
    left: 84px;
  }
  80% {
    bottom: -40px;
    left: 96px;
  }
  90% {
    bottom: -45px;
    left: 108px;
  }
  100% {
    position: relative;
    bottom: -50px;
    left: 120px;
  }
}
@-webkit-keyframes triangle {
  0% {
    position: relative;
  }
  10% {
    bottom: -1px;
    left: 4px;
  }
  20% {
    bottom: -2px;
    left: 8px;
  }
  30% {
    bottom: -3px;
    left: 12px;
  }
  40% {
    bottom: -4px;
    left: 15px;
  }
  50% {
    bottom: -5px;
    left: 19px;
  }
  60% {
    bottom: -6px;
    left: 23px;
  }
  70% {
    bottom: -7px;
    left: 27px;
  }
  80% {
    bottom: -8px;
    left: 31px;
  }
  90% {
    bottom: -10px;
    left: 35px;
  }
  100% {
    position: relative;
    bottom: -12px;
    left: 39px;
    border-bottom: 1.5rem solid #14a76c;
  }
}
@keyframes triangle {
  0% {
    position: relative;
  }
  10% {
    bottom: -1px;
    left: 4px;
  }
  20% {
    bottom: -2px;
    left: 8px;
  }
  30% {
    bottom: -3px;
    left: 12px;
  }
  40% {
    bottom: -4px;
    left: 15px;
  }
  50% {
    bottom: -5px;
    left: 19px;
  }
  60% {
    bottom: -6px;
    left: 23px;
  }
  70% {
    bottom: -7px;
    left: 27px;
  }
  80% {
    bottom: -8px;
    left: 31px;
  }
  90% {
    bottom: -10px;
    left: 35px;
  }
  100% {
    position: relative;
    bottom: -12px;
    left: 39px;
    border-bottom: 1.5rem solid #14a76c;
  }
}
@-webkit-keyframes line {
  0% {
    position: relative;
  }
  10% {
    bottom: -3px;
    right: 4px;
  }
  20% {
    bottom: -6px;
    right: 8px;
  }
  30% {
    bottom: -9px;
    right: 12px;
  }
  40% {
    bottom: -12px;
    right: 16px;
  }
  50% {
    bottom: -15px;
    right: 20px;
  }
  60% {
    bottom: -18px;
    right: 25px;
  }
  70% {
    bottom: -21px;
    right: 30px;
  }
  80% {
    bottom: -25px;
    right: 35px;
  }
  90% {
    bottom: -29px;
    right: 40px;
  }
  100% {
    position: relative;
    bottom: -33px;
    right: 45px;
    background: #ffe400;
  }
}
@keyframes line {
  0% {
    position: relative;
  }
  10% {
    bottom: -3px;
    right: 4px;
  }
  20% {
    bottom: -6px;
    right: 8px;
  }
  30% {
    bottom: -9px;
    right: 12px;
  }
  40% {
    bottom: -12px;
    right: 16px;
  }
  50% {
    bottom: -15px;
    right: 20px;
  }
  60% {
    bottom: -18px;
    right: 25px;
  }
  70% {
    bottom: -21px;
    right: 30px;
  }
  80% {
    bottom: -25px;
    right: 35px;
  }
  90% {
    bottom: -29px;
    right: 40px;
  }
  100% {
    position: relative;
    bottom: -33px;
    right: 45px;
    background: #ffe400;
  }
}
@-webkit-keyframes circle {
  0% {
    position: relative;
  }
  10% {
    bottom: -6px;
    right: 11px;
  }
  20% {
    bottom: -12px;
    right: 22px;
    width: 1.3rem;
    height: 1.3rem;
  }
  30% {
    bottom: -18px;
    right: 33px;
  }
  40% {
    bottom: -24px;
    right: 44px;
    width: 1.1rem;
    height: 1.1rem;
  }
  50% {
    bottom: -30px;
    right: 55px;
  }
  60% {
    bottom: -36px;
    right: 66px;
    width: 0.9rem;
    height: 0.9rem;
  }
  70% {
    bottom: -43px;
    right: 78px;
  }
  80% {
    bottom: -50px;
    right: 90px;
    width: 0.7rem;
    height: 0.7rem;
  }
  90% {
    bottom: -57px;
    right: 102px;
  }
  100% {
    position: relative;
    bottom: -64px;
    right: 114px;
    width: 0.5rem;
    height: 0.5rem;
  }
}
@keyframes circle {
  0% {
    position: relative;
  }
  10% {
    bottom: -6px;
    right: 11px;
  }
  20% {
    bottom: -12px;
    right: 22px;
    width: 1.3rem;
    height: 1.3rem;
  }
  30% {
    bottom: -18px;
    right: 33px;
  }
  40% {
    bottom: -24px;
    right: 44px;
    width: 1.1rem;
    height: 1.1rem;
  }
  50% {
    bottom: -30px;
    right: 55px;
  }
  60% {
    bottom: -36px;
    right: 66px;
    width: 0.9rem;
    height: 0.9rem;
  }
  70% {
    bottom: -43px;
    right: 78px;
  }
  80% {
    bottom: -50px;
    right: 90px;
    width: 0.7rem;
    height: 0.7rem;
  }
  90% {
    bottom: -57px;
    right: 102px;
  }
  100% {
    position: relative;
    bottom: -64px;
    right: 114px;
    width: 0.5rem;
    height: 0.5rem;
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
html {
  font-size: 125%;
}

body {
  color: #ffe400;
  background: #181818;
  font-family: "Share Tech", sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
}